{% extends 'base.html' %}

{% block title %}TexTexT - Upload Files{% endblock %}

{% block content %}
	<div class="row-span-11 flex items-center justify-center">
		<div class="flex flex-col justify-between mx-auto max-w-screen-xl px-4 py-10 sm:px-6 lg:px-10 items-center text-center self-center">
			<h1 class="text-2xl font-bold mb-10">
				Upload Files
			</h1>
			<p class="mb-10">
				Upload Files (Images, pdfs, ...) or drop a file, paste image or URL
			</p>
			<form action="/upload_images" method="post" enctype="multipart/form-data">
                <input id="fileInput" type="file" name="file" style="display:none;" onchange="this.form.submit()">
                <button type="button" onclick="document.getElementById('fileInput').click()" class="px-4 py-2 bg-[#9B60FF] rounded-lg mb-10">
                    <p>Upload Another File</p>
                </button>
            </form>
	       	
	        <a href="{{url_for('main.upload_images', load_dialog=True)}}" > 
	            <button type="submit" class="px-4 py-2 bg-[#9B60FF] rounded-lg mb-10">
	            	<p>
	            		Next
	            	</p>
	            </button>
	        </a>
		</div>
	</div>

	<script>
        window.onload = function() {
            // Access the load_dialog variable passed from Flask
            const loadDialog = {{ load_dialog | tojson }};
            console.log(loadDialog);
            if (loadDialog === true) {
                // Trigger the file input dialog
                console.log("ETFD")
                document.getElementById('fileInput').click();
            }
        };
    </script>
{% endblock %}